/* Default */
* ul li{
	list-style:none;
}
html { 

}
body {
	background: url('../images/blackcattattoos_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size:cover;
	background-size: cover;
	
	/*background-image:url(../images/blackcattattoos_bg.png);
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;*/
	
	background-color:#1e1e1e;
	color:#ffffff;
	text-align:center;
}

.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.gold {color:#d4d0b4;}
.main-container {padding:0 30px;}

.logo {
	height:40px;
}

/* Navigation */
.nav > li.dropdown.open {
  position: static;
}
.nav > li.dropdown.open .dropdown-menu {
  display: table;
  border:none;
  border-radius:0px;
  width: 100%;
  text-align: center;
  left:0;
  right:0;
  background-color:#d4d0b4;
  color:#333333;
  padding:0;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
	background-color:#d4d0b4 !important;
}
.navbar-nav {
	font-size:18px;
	margin-top:15px;
}
.navbar-default {
	background:none;
	border:none;
}
.navbar-default .navbar-nav > li > a {
	color:#ffffff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color:#d4d0b4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	color:#333333;
	background-color:#ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color:#333333;
	line-height:50px;
	text-align:center;
}
.navbar-default .navbar-toggle {
	border:none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background:none;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#d4d0b4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-top:none;
    box-shadow:none;
}
.dropdown-menu > li {
  display: table-cell;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  background-color:none;
}
.dropdown-menu > li:hover {
	background-color:#cac6aa;
}
.dropdown-menu > li > a:focus {
	background-color:none;
	color:#333333;
}
.dropdown-menu > li > a:hover {
	background:none;
	color:#333333;
}

/* Main Sections */
section {
	margin-bottom:40px;
}

/* Shop */
#Shop {
	margin-top:40px;
}
#About {
	margin-top:60px;
}
article {
	margin-top:20px;
}
.btn:first-child {
	margin-right:15px;
}
.btn-primary,
.btn-primary:visited {
	background-color:transparent;
	color:#FFF;
	padding:15px 25px;
	font-size:16px;
	font-family:Merriweather, Georgia, "Times New Roman", serif;
	border:1px solid #d4d0b4;
	border-radius:0;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color:#d4d0b4;
	color:#333 !important;
	border-color:0;
}

/*.instagramleftspcr {
	margin-left:20px;
}*/

/* Events */
#Events {
	/*overflow: auto;*/
}

/* FAQs */
#FAQs {
	margin-top:50px;
}
.faqsheading {
	margin-top:0;
}
.panel-default > .panel-heading {
	background-color:#d4d0b4;
	color:#333333;
}
.panel-group .panel {
	border-radius:0;
}
.panel-title > a {
	color:#333333;
	font-family: Merriweather, Georgia, "Times New Roman", serif;
	line-height:23px;
	letter-spacing:1px;
	text-decoration:none;
}
.panel-heading {
	border-radius:0;
	}
.panel-default {
	border-color:#d4d0b4;
}
.panel {
	background-color:transparent;
}

/* Contact Section */
#Contact {
	margin-bottom:50px;
}
.contact-link li {
	list-style-type:none;
	display:inline;
	margin-right:40px;
}
.contact-link {
	margin-top:80px;
}
a.contact-link,
a.contact-link:visited {
	color:#ffffff;
}
a.contact-link:hover,
a.contact-link:active {
	color:#d4d0b4;
	text-decoration:none;
}
a:link,
a:visited {
	color:#ffffff;
	text-decoration:none;
}
a:hover,
a:active {
	color:#d4d0b4;
	text-decoration:none;
}
#map {
	margin-bottom:-50px;
}

/* Gold Links */
a.gold-link:link,
a.gold-link:visited {
	color:#d4d0b4;
}
a.gold-link:hover,
a.gold-link:active {
	color:#d4d0b4;
	text-decoration:underline;
}

/* Profile */
ul.profilelist {
	text-align:center;
	margin-left:-40px;
}
.profilelist li {
	display:inline;
}
.gallery{
	margin-top:25px;
}
.instagramspcr {
	margin-right:30px;
}
.galleryinfospcr {
	margin-bottom:30px;
}
.thumbnail {
	background-color:transparent;
	border:0;
	border-radius:0;
}
.bar {
	height:2px;
	width:auto;
	background-color:#d4d0b4;
}

/* Carousel */
#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 10px;
	text-align:center;
	font-family: Merriweather, Georgia, "Times New Roman", serif;
}
.carousel-quotes {
	font-style:italic;
	font-weight:200;
	font-size:14px;
}
/* indicator position */
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
	background: transparent;
	border:1px solid #d4d0b4;
	border-radius:50%;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
	background: #d4d0b4;
	height:10px;
	width:10px;
	margin-bottom:1px;
}

/* Footer */
.container.footer {
	background:#d4d0b4;
	width:auto;
}
.copyrights,
.credits {
	color:#333333;
	padding:50px 0 40px 0;
}
a.danielmdesigns:link,
a.danielmdesigns:visited {
	color:#333333;
}
a.danielmdesigns:hover,
a.danielmdesigns:active {
	color:#333333;
	text-decoration:underline;
}
span.darklink,
span.darklink:visited {
	color:#333333;
}
span.darklink:hover,
span.darklink:active {
	color:#333333;
	text-decoration:underline;
}

/* Typography */
@font-face {
	font-family: Native;
	src: url(../fonts/Native.ttf);
}
@font-face {
	font-family: Merriweather;
	src:url(../fonts/Merriweather-LightItalic.ttf);
}
p,
.merriweather {
	color:#ffffff;
	font-family: Merriweather, Georgia, "Times New Roman", serif;
	line-height:23px;
	letter-spacing:1px;
}
.h1 {
	color:#d4d0b4;
	font-family: Native, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Media Queries */
@media screen and (max-width: 991px) {
img {
  margin:0 auto;
}
.faqsimg {
	margin-bottom:20px;
}
.contact-link li {
	display:block;
}
.profilelist li {
	display:block;
}
.contact-link {
	margin-top:20px;
}
.event {
	margin-bottom:40px;
}
/*#map {
	margin-bottom:0;
}*/
.profilelistspcr {
	margin-right:0;
}
.instagramspcr {
	margin-right:0;
}
.galleryinfospcr {
	margin-bottom:0;
}
.bar {
	margin-top:25px;
}
}
@media screen and (max-width: 767px) {
.dropdown-menu > li {
  display: block;
}
.pull-left { float:none !important; }
.pull-right { float:none !important; }
.copyrights {
	padding-bottom:0;
}
.credits {
	padding-top:0;
	padding-bottom:30px;
	margin-top:20px;
}
.thumbnail {
	margin-bottom:10px;
}
}
@media (max-width: 400px){
  a.btn-primary {
	  display:block;
  }
  a.btn-primary:nth-child(1) {
	  margin-right:0;
  }
  a.btn-primary:nth-child(2) {
	  margin-top:20px;
  }
}